body {
	font-family: 'Open Sans', sans-serif;
}


// Header
.app-header {
	padding: 10px 0;
	background-color: #f7f5f5;
	text-align: center;
	
	.logo {
		background-color: #007bff;
		color: #ffff;
		width: 50px;
		height: 50px;
		display: inline-block;
		font-size: 40px;
		margin-right: 10px;
		border-radius: 50%;
		position: relative;
		top: -2px;
	}
}

.content {
	padding: 60px 0;
}

.balance {
	text-align: center;
	border-bottom: 1px solid #d8d7d7;
	padding-bottom: 40px;
	
	h6 {
		text-transform: uppercase;
		margin: 0;
	}
	
	.edit-modal {
		background-color: rgba(1, 177, 251, 0.7);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;		
		z-index: 10;
		display: none;
		
		&.active {
			display: block;
		}
		
		.edit-panel {
			width: 400px;
			padding: 20px;
			border-radius: 10px;
			background-color: #fff;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 10;
		}
		
		.close-icon {
			position: absolute;
			top: -1px;
			right: -2px;
			width: 30px;
			height: 30px;
			color: #fff;
			border-radius: 0 10px 0 0;
			cursor: pointer;
		}
	}
}

.green {
	color: #25ce28;
}

.red {
	color: #ff4c4c;
}

// Add transaction
.add-transaction {
	h5 {
		border-bottom: 1px solid #c0c0c0;
		padding-bottom: 10px;
	}
	
	p {
		margin-bottom: 0;
	}
}

// Expense list
.expense-list {
	h5 {
		margin-bottom: 25px;
		border-bottom: 1px solid #c0c0c0;
		padding-bottom: 10px;
	}
	
	p {
		margin-bottom: 5px;
	}
	
	.remove-item {
		color: #fff;
		float: right;
		cursor: pointer;
		margin-top: 3px;
	}
}

// Error message
.error-message {
	width: 23%;
	padding: 15px;
	font-size: 18px;
	text-align: center;
	border-radius: 0 10px 10px 0;
	position: fixed;
	top: 50px;
	left: -23%;
	z-index: 11;
	transition: all .3s ease;
	
	&.active {
		left: 0;
	}
}

// Footer
.app-footer {
	text-align: center;
	padding: 30px 0;
	border-top: 1px solid #c0c0c0;
}