body {
	font-family: 'Open Sans', sans-serif;
	
	&.dark-theme {
		background-color: #1e1e1e;
		
		.app-header {
			border-bottom: 1px solid #555252;
			background-color: #1e1e1e;
			color: #fff;
		}
		
		.balance {
			border-bottom: 1px solid #555252;
			
			h2,
			h6 {
				color: #fff;
			}
			
			.display-income {
				border-top: 1px solid #555252;
				border-bottom: 1px solid #555252;
			}
		}
		
		.add-transaction {
			color: #fff;
			
			.form-control {
				border-color: #555252;
				
				&:focus {
					background-color: #242528;
					color: #fff;
				}
			}
		}
		
		.expense-list {
			h5 {
				color: #fff;
			}
			
			.form-control {
				background-color: #242528;
				color: #fff;
				
				&:focus {
					background-color: #242528;
					color: #fff;
				}
			}
		}
		
		.app-footer {
			color: #fff;
			
			a {
				color: #25ce28;
			}
		}
	}
}


// Header
.app-header {
	padding: 10px 0;
	background-color: #f7f5f5;
	text-align: center;
	
	h1 {
		@media(max-width: 767px) {
			font-size: 30px;
		}
	}
	
	.logo {
		background-color: #007bff;
		color: #ffff;
		width: 50px;
		height: 50px;
		display: inline-block;
		font-size: 40px;
		margin-right: 10px;
		border-radius: 50%;
		position: relative;
		top: -2px;
		
		@media(max-width: 767px) {
			width: 40px;
			height: 40px;
			font-size: 30px;
			top: 0;
		}
	}
}

.content {
	padding: 60px 0;
	
	@media(max-width: 767px) {
		padding: 30px 0;
	}
}

.balance {
	text-align: center;
	border-bottom: 1px solid #d8d7d7;
	padding-bottom: 40px;
	
	h6 {
		text-transform: uppercase;
		margin: 0;
	}
	
	.edit-modal {
		background-color: rgba(1, 177, 251, 0.7);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;		
		z-index: 10;
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all 0.3s ease;
		
		&.active {
			opacity: 1;
			visibility: visible;
			pointer-events: auto;
					
			.edit-panel {
				transform: translate(-50%, -50%);
			}
		}
		
		.edit-panel {
			width: 400px;
			padding: 20px;
			border-radius: 10px;
			background-color: #fff;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, 0%);
			z-index: 10;
			transition: all 0.2s ease;
			
			@media(max-width: 767px) {
				width: 300px;
			}
			
			h3 {
				@media(max-width: 767px) {
					font-size: 30px;
				}	
			}
		}
		
		.close-icon {
			position: absolute;
			top: -1px;
			right: -2px;
			width: 30px;
			height: 30px;
			color: #fff;
			border-radius: 0 10px 0 0;
			cursor: pointer;
		}
	}
	
	.display-income {
		@media(max-width: 767px) {
			margin: 15px 0;
			border-top: 1px solid #d8d7d7;
			border-bottom: 1px solid #d8d7d7;
			padding: 20px 0;	
		}		
	}
}

.green {
	color: #25ce28 !important;
}

.red {
	color: #ff4c4c !important;
}

// Add transaction
.add-transaction {
	h5 {
		border-bottom: 1px solid #c0c0c0;
		padding-bottom: 10px;
	}
	
	p {
		margin-bottom: 0;
	}
}

// Expense list
.expense-list {
	@media(max-width: 767px) {
		margin-top: 30px;
	}
	
	&__item {
		position: relative;
		
		&--info {
			
		}
	}
	
	h5 {
		margin-bottom: 25px;
		border-bottom: 1px solid #c0c0c0;
		padding-bottom: 10px;
	}
	
	.form-control {
		margin-bottom: 5px;
		height: auto;
	}
	
	.badge-primary {
		margin-left: 5px;
	}
	
	.btn-wrapper {
		text-align: right;
	}
	
	.remove-item {
		color: #fff;
	}
	
	.current-date {
		font-size: 12px;
		padding-left: 0;
	}
}

// Delete all expenses modal
.delete-all-modal {
	background-color: rgba(1, 177, 251, 0.7);
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;		
	z-index: 10;
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
	transition: all 0.3s ease;
	
	
	&.active {
		opacity: 1;
		visibility: visible;
		pointer-events: auto;
				
		.delete-all-modal__message {
			transform: translate(-50%, -50%);
		}
	}
	
	&__message {
		width: 400px;
		padding: 20px;
		text-align: center;
		border-radius: 10px;
		background-color: #fff;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, 0%);
		z-index: 10;
		transition: all 0.2s ease;
		
		@media(max-width: 767px) {
			width: 300px;
		}
		
		h3 {
			@media(max-width: 767px) {
				font-size: 24px;
			}	
		}
		
		.btn {
			margin-right: 5px;
		}
	}
}

// Error message
.error-message {
	padding: 15px;
	font-size: 18px;
	text-align: center;
	position: fixed;
	bottom: -10%;
	left: 0;
	right: 0;
	z-index: 11;
	transition: all .3s ease;
	
	&.active {
		bottom: 0;
	}
}

// Footer
.app-footer {
	text-align: center;
	padding: 30px 0;
	border-top: 1px solid #c0c0c0;
}